body {
  background-color: lavender;
  color: navy
  font-family: Arial, Helventica, sans-serif;
  margin: 10%, 20%:
}

h1 {
  color: purple;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
}

p {
  text-align: center;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
}

